.container {
  width: 100vw;
  height: 100vh;
  padding: 6px;
}

.title {
  flex: 8;
  font-size: 34px;
}
.right {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  button {
    margin-left: 12px;
  }
}

.statistic {
  display: flex;
  align-items: center;
}