setuptools
Flask
Flask-Session
flask-cors
flask-socketio
flask_sqlalchemy
flask_script
flask_migrate
requests
redis
twint
asyncio
eventlet
geopy
psycopg2-binary
wheel
gunicorn
click==7.1.2
numpy==1.18.4
pandas==1.0.3
torch==1.5.0
torchtext==0.3.1
spacy==2.2.4
spacymoji==2.0.0
dill==0.3.1.1