body {
  font-family: "Lucida Console", Monaco, monospace;
}

h1 {
  margin-bottom: 24px;
}

#map {
  flex: 7;
  height: 500px;
}

#progress-table {
  margin-bottom: 12px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.statistics {
  flex: 3;
  margin-left: 4px;
  min-width: 300px;
}