body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: whitesmoke;
}

.container{
  display: flex;
  width:100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 90px 89px 90px;
  background-image: url(../../assets/background.jpg);
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}

.lower{
  display:flex;
  width:100%; 
  padding: 10px;
}

.form-control {
  margin: 10px 0;
  width: 100%;
}

.button{
  margin: 5px 0;
}

.phrase{
  text-align: center;
  padding-bottom: 4rem;
}

.image{
  width:60%;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 36px;
  background-color: whitesmoke;
  border: 1px solid rgba(128, 128, 128, 0.5);
  min-width: 500px;
  h1 {
    font-size: 32px;
    margin-bottom: 48px;
  }
  .form-control {
    margin: 12px 0;
  }
  .submit-btn {
    margin: 12px 0;
  }
}

.description {
  margin-top: 30px;
}

.demo {
  color: teal;
}

.demo:hover {
  text-decoration: underline;
}

.login-box {
  background: white;
  padding: 40px;
  margin: 30px;
  margin-right: 50px;
  min-width: 500px;
}