

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css">
  <script
    src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I="
    crossorigin="anonymous">
  </script>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBP4pRmsONvoWYNIQZWRhcBcAPSWtuwCo&libraries=visualization">
  </script>
</head>
<body>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <br>
  <div class="wrapper">
    {% block map %}{% endblock %}
    <div class="statistics">
      <span id="progress"></span>
      <table id="progress-table" border="1">
        <tr>
          <th>City</th>
          <th>Results</th>
          <th>Acum</th>
        </tr>
        <tr>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>